* {
  box-sizing: border-box;
  user-select: none;
}

html, body {
  width: 100%;
  height: 100%;
}

code{
  font-family: monospace;
}

body {
  background-color: #222;
  font-family: "Roboto", sans-serif;
  color: #fafafa;
}

.page {
  //width: 1024px;
  //height: 768px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-enter-active,
.page-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.page-enter,
.page-leave-active {
  opacity: 0
}

.layer-enter-active,
.layer-leave {
  opacity: 1;
  transition: opacity 0.3s linear;
}

.layer-enter,
.layer-leave-active  {
  opacity: 0;
  transition: opacity 0.3s linear;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
